.div-image {
    width: 200px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.div-image img {
    width: 40%;
}
nav {
    
    
}
.div-links {
    
    width: 40%;
    float: right;
    margin-top: 20px;
}
.div-links ul li a {
    text-decoration: none;
    color: white;
}
.div-links ul li {
    list-style: none;
    float: left;
    margin-left: 35px;
}
.clear-fix {
    clear: both;
}
header {
    background-image: url(../back.jpeg);
    background-size: 100% 100%;
    height: 100vh;
}

.content {
    text-align: center;
    color: white;
    margin-top: 165px;
    font-family: sans-serif
}
.content h1 {
    letter-spacing: 2px;
    font-size: 50px;
}
.content p {
    font-size: 20px;
    font-weight: 500;
}
    
.content button {
    padding: 15px;
    color: white;
    border-radius: 15px;
    margin-left: 15px;
}
.content .btn-2 {
    background-color: transparent;
     border: solid 1px white;
}
.content .btn-1 {
    background-color: rgba(223, 224, 147, 0.788);
    border: none;
}

.section-1 {
}

.div-image1 {
    width: 450px;
    float: left;
    margin-left: 60px;
}
.div-image1 img {
    width: 100%;
}
.content1 {
    width: 40%;
    float: right;
    margin-top: 60px;
    margin-right: 60px;
    font-family: sans-serif;
}
.content1 .hp {
    text-align: center;
}
.content1 ul li {
    margin: 20px 20px;
    padding-left: 50px;
}
.content1 p {
    color: rgb(90, 112, 46);
}
.content1 ul {
    color: rgb(90, 112, 46);
}

.clear-fix1 {
    clear: both;
}


.section-2 {
    margin-top: 50px;
}
.content2 {
    width: 40%;
    text-align: center;
    float: left;
    margin-left: 60px;
    margin-top: 100px;
    font-family: sans-serif;
}
.content2 p {
    margin-top: 50px;
    color: rgb(90, 112, 46);

}
.div-image2 {
    width: 500px;
    float: right;
    margin-top: 25px;
    margin-right: 60px;
}
.div-image2 img {
    width: 80%;
}
.clear-fix2 {
    clear: both;
}


.section-3 {
    font-family: sans-serif;
    text-align: center;
}
.content3 {

}
.item {
    float: left;
    width: 33.3%;
    margin-top: 20px;
}
.item1 {

}
    
.item1 img {
    width: 70%;
}
.item2 {
    
}
.item2 img {
    width: 70%;
}
.item3 {
    
}
.item3 img {
    width: 70%;
}
.clear-fix3 {
    clear: both;
}
.item p {
    color: rgb(90, 112, 46);
}

.section-4 {
    font-family: sans-serif;
    margin-top: 50px;
}
.content4 {
    width: 40%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.content4 .hp1 {
    text-align: center;
}
.content4 ul li {
    padding-left: 20px;
    margin-bottom: 30px;
}
.frame {
    width: 40%;
    float: right;
}

.clear-fix4 {
    clear: both;
}

.section-5{
    font-family: sans-serif;
    margin-top: 50px;
}
.content5 {
    width: 23.5%;
    float: left;
    text-align: center;

}
.c1 {
    margin: 10px;
}
.c2 {
    margin: 10px;
}
.c3 {
    margin: 10px;
}
.c4 {
    margin: 10px;
}
.clear-fix5 {
    clear: both;
}


.content6 {
    background-color: rgb(75, 72, 72);
}

.f-image {
    width: 80px;
    float: left;
    margin-left: 485px;
    margin-top: 17px;
    
}
.f-image img {
    width: 100%;
}
.f-hp {
    width: 20%;
    text-align: center;
    float: right;
    margin-right: 500px;
}
.f-hp p {
    font-family: sans-serif;
}
.f-hp h1 {
    color: rgb(110, 108, 108);
}
.clear-fix6 {
    clear: both;
}
    
    

    
    
    

